@using HUTECHClassroom.Web.ViewModels.Groups;
@model ImportUsersToGroupViewModel
<h1>Add Users</h1>

<div>
    <h4>Add Users to Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
    </dl>
    <form asp-action="ImportGroupUsers" method="post" enctype="multipart/form-data">
        @ViewBag.Error
        <div class="form-group">
            <label for="excelFile">Select an Excel file to import:</label>
            <input asp-for="File" type="file" class="form-control-file" />
            <input type="hidden" asp-for="GroupId" />
            <input type="hidden" asp-for="GroupName" />
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>
</div>
