@using HUTECHClassroom.Web.ViewModels.Faculties;
@model ImportUsersToFacultyViewModel
<h1>Add Users</h1>

<div>
    <h4>Add Users to Faculty</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacultyName)
        </dd>
    </dl>
    <a asp-action="ExportUsers" class="btn btn-success btn-block">Export sample Data</a>

    <form asp-action="ImportFacultyUsers" method="post" enctype="multipart/form-data">
        @ViewBag.Error
        <div class="form-group">
            <label for="excelFile">Select an Excel file to import:</label>
            <input asp-for="File" type="file" class="form-control-file" />
            <input type="hidden" asp-for="FacultyId" />
            <input type="hidden" asp-for="FacultyName" />
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>
</div>
